<html>
<head>
    <meta charset="UTF-8"/>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link rel="icon" href="{{ url_for('static', filename='public/favicon.ico') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Alurser Sqaud</title>
</head>
<body class="main-bg">
    <div id="home"></div>
<div class="logo-container">
    <a onclick="return false;" onmousedown="autoScrollTo('home');" href="#"><img width="120px" height="120px" src="{{ url_for('static', filename='public/logo.png') }}"></a>
</div>
<div class="img-container2">
    <a style="cursor: pointer;" href="#"><img class="gelatine" src="{{ url_for('static', filename='public/bloob_2.png') }}" width="250px" height="250px"></a>
</div>
<div class="img-container8">
    <img src="{{ url_for('static', filename='public/mini_4.png') }}" width="110px" height="110px">
</div>
<div class="navbar">
    <a class="anav" href="#" target="_blank">MINT</a>
    <a class="anav" onclick="return false;" onmousedown="autoScrollTo('road');" target="_blank" href="#">ROADMAP</a>
    <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
    <label for="modal-btn"><i class="uil uil-expand-arrows"></i><a class="anav">FAQ</a></label>
    <div class="modal">		
        <div class="modal-wrap"><br /><br />	
            <b>FREQUENTLY ASKED QUESTIONS</b><br /><br />
            <b class="subt">What's an NFT?</b><br /><br /><br />
            <p>An NFT stands for “Non-fungible token” and is a fancy way of saying it’s a unique, 
                one of a kind digital item that users can buy, own, and trade. Some NFTs main function 
                are to be digital art and look cool, some offer additional utility like exclusive access
                 to websites or participation in an event, think of it like a rare piece of 
                 art that can also act as a “members” card.</p><br /><br />
                 <b class="subt">How many Bloobs will be available upon release?</b><br /><br /><br />
                 <p>There will be 10,000 specimens available for minting.</p><br /><br />
        </div>			          		
    </div>	
    <a class="anav fa fa-twitter" href="#"></a>
    <a class="anav fa fa-telegram" href="#"></a>
    <a onclick="return false;" onmousedown="autoScrollTo('ser');" class="anav fa fa-search" href="#"></a>
</div>
<div class="mob_nav">
<a class="mnav fa fa-twitter" href="#"></a>
<a class="mnav fa fa-telegram" href="#"></a>
</div>
<div class="go_up"><a onclick="return false;" onmousedown="autoScrollTo('home');" href="#"><img src="{{ url_for('static', filename='public/up.png') }}" width="50px" height="50px"></a></div>
<div class="page-container">
<div class="base-layer">
    <b class="title1">Welcome to the</b><br />
    <b class="title2">Alursers Universe</b>
<div class="img-container1">
    <a onclick="return false;" onmousedown="autoScrollTo('ser');" href="#" style="cursor: pointer;"><img class="gelatine" src="{{ url_for('static', filename='public/bloob_1.png') }}" width="240px" height="240px"></a>
</div>

<div class="img-container3">
    <a onclick="return false;" onmousedown="autoScrollTo('about');" href="#" style="cursor: pointer;"><img class="gelatine" src="{{ url_for('static', filename='public/bloob_4.png') }}" width="250px" height="250px"></a>
</div>
<div class="img-container4">
    <a style="cursor: pointer;" onclick="return false;" onmousedown="autoScrollTo('road');" href="#"><img class="gelatine" src="{{ url_for('static', filename='public/bloob_3.png') }}" width="250px" height="250px"></a>
</div>

<div class="img-container5">
    <img src="{{ url_for('static', filename='public/mini_1.png') }}" width="120px" height="120px">
</div>
<div class="img-container6">
    <img src="{{ url_for('static', filename='public/mini_2.png') }}" width="110px" height="110px">
</div>
<div class="img-container7">
    <img src="{{ url_for('static', filename='public/mini_3.png') }}" width="140px" height="140px">
</div>
<div class="img-container9">
    <img src="{{ url_for('static', filename='public/mini_5.png') }}" width="110px" height="110px">
</div>
</div>
<div id="about" class="a-layer">
    <div class="about">
        <img src="{{ url_for('static', filename='public/about.png') }}" alt="">
    <div class="about_text">
        <b>We are the Alursers, 
            a group of crypto enthusiasts who have been operating in this field since 2017.
            With the evolution of the cryptocurrency ecosystem, specifically everything related to the metaverse and NFTs,
            we have decided to undertake a project that integrates these innovations in the imaginary world we have created,
             Alursers Universe. To learn more in depth about the project, you can read the full litepaper by clicking <a class="a_text" href="#">HERE</a>.</b></div>
    </div>
</div>
<div id="road" class="r-layer">
    <div class="roadmap">
        <img src="{{ url_for('static', filename='public/roadmap.png') }}" alt="">
    </div>
</div>
<div id="ser" class="s-layer">
    <div class="finder">
        <b class="tf">Wanna know how rare your NFT is?</b><br />
        <form method="post" action="" class="name_s">
            <label>Enter your NFT name</label><br /><br /><br />
            <input name="nft_name" placeholder="Name #N"><br /><br />
            <button type="submit" class="s_btn">Find!</button>
        </form><br /><br /><br /><br /><br />
        <div id='prog-bar-cont'>
        <div class="prog-common">
            <b id="common">COMMON</b>
        </div>
        <div class="prog-rare prog-r-b">
            <b id="rare">RARE</b>
        </div>
        <div class="prog-legendary prog-l-b">
            <b id="legendary">LEGENDARY</b>
        </div>
          </div>
          {% if common_load %}
          <div id="prog-bar-cont-flow">
            <div class="progress-striped">
                <div class="progress-bar"></div>
            </div>
          </div>
          {% endif %}
          {% if rare_load %}
          <div id="prog-bar-cont-flow">
            <div class="progress-striped2">
                <div class="progress-bar"></div>
            </div>
          </div>
          {% endif %}
          {% if l_load %}
          <div id="prog-bar-cont-flow">
            <div class="progress-striped3">
                <div class="progress-bar"></div>
            </div>
          </div>
          {% endif %}
    </div>
    {% if error %}
    <div class="error-msg">
    <b id="err">NFT not found! Did you spell it correctly? (Name #N)</b>
</div>
    {% endif %}
</div>
</div>

<script>
function autoScrollTo(el) {
    var top = $("#" + el).offset().top;
    $("html, body").animate({ scrollTop: top }, 800);
}
</script>
{% if error %}
<script>
    document.getElementById('err').scrollIntoView();
</script>
{% endif %}
{% if common_load %}
<script>
    document.getElementById('common').scrollIntoView();
</script>
{% endif %}
{% if rare_load %}
<script>
    document.getElementById('rare').scrollIntoView();
</script>
{% endif %}
{% if l_load %}
<script>
    document.getElementById('legendary').scrollIntoView();
</script>
{% endif %}

</body>
</html>